body{
    background-color: #000000;
    /* margin: 0px; */
    /* padding: 0px; */
    width: 100vw;
    height: auto;
}

.prodBackArw{
    margin-top: 30px;
    font-size: 44px;
    color: #d2cccc;
    margin-left: 40px;
}

.adminPHdng{
    text-align: center;
    margin-top: -30px;
}

.pageDiv{
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: auto;
    flex-wrap: wrap; 
    margin-top: 0px;
}

