
body{
    margin: 0px;
    padding: 0px;
}

.userNoImg{
    margin-top: 25px;
    margin-left: 40px;
}

.userDelDiv{
    margin-top: -30px;
    height: 100vh;
}

.userSecDiv{
    margin-top: 10px;
}

@media (max-width: 450px) {

    .secDiv .adPswd{
        margin-left: 60px;


    }
}

@media (max-width: 395px) {

    .userSecDiv  .secDiv{
        width: 200px;
    }

}