body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

.main-div{
    width: 100vw;
    margin-top: 80px;
}

.uname, .email, .newPswd, .confirmPswd, .phoneNo, .pswd{
    padding: 15px 30px 20px ;
    background-color: transparent;
    border-color: #6a6868;
    color: #d2cccc;

    border-radius: 8px;
}

.uname:hover, .email:hover, .newPswd:hover, .confirmPswd:hover, .phoneNo:hover, .pswd:hover{
    background-color: #d2cccc;
    border-color: #242424c3;
    color: #242424c3;
}

.updateBtn{
    padding: 10px 10px 15px;
    background-color: transparent;
    color: #d2cccc;
    border: 2px 2px;
    border-color: #6a6868;
    border-radius: 8px;
}

.updateBtn:hover{
    background-color: #d2cccc;
    color: #242424c3;
    border: 2px 2px;
}

@media (max-height: 1500px) {

    .editDiv {
        gap: 10px;
        height: 70vh;
        margin-top: 10px;
        justify-content: flex-start;
    }

}
@media(max-width: 550px) {

    .editDiv .uname, .editDiv .phoneNo{
        width: 80px;

    }

    .editDiv .uname {
        margin-left: 10px;

    }

    .editDiv.email{
        width: 75px;
    }


     .editDiv.eLabel{
        display: block;
    }
}

@media (max-width: 531px) {

    .editDiv.uname {
        margin-left: 0px;
        /* width: 50px; */

    }

}

@media(max-height: 920px) {
     .editDiv{
        margin-top: 120px;
     }
}

@media (max-height: 899px) {

    .editDiv {
        gap: 10px;
        height: 85vh;
        margin-top: 140px;
        justify-content: flex-start;
    }

    /* .editDiv label .uname{
        margin-top: -50px;
    } */


}

@media (max-width: 392px) and (max-height: 845px) {

    .editDiv{
        margin-top: 120px;
    }

}

@media (max-height: 645px) {

    .editDiv{
        height: 90vh;
    }

}