body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

.main-div{
    width: 100vw;
}

.cView{
    width: 70vw;
    height: 20vh;
    padding: 20px 25px 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 40px;
    border-radius: 8px;
    box-shadow: 2px 2px #6a6868;
}

.cCode span{
    font-weight: bold;
    color: #008080;
}

.disc{
   font-weight: bold;
   color: #d2cccc;
}

.disc span{
    color: #e08c8c;
}

.vDate span{
    color: #6a6868;
}

.vDate{
    margin-top: 35px;
}

.clip{
    margin-left: -100px;
}

@media (max-width: 950px) {

    .cView{
        gap: 0px;
    }

}

@media (max-width: 875px) {

    .cView{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: 300px;
        width: 300px;
    }

    .disc{
        margin-top: -50px;
    }
    .clip{
        margin-left: -70px;
    }

    
}

@media (max-width: 450px) {

    .cView{
        width: 200px;
        height: 200px;
    }

    .disc{
        margin-top: -80px;
    }

    .vDate{
        margin-top: -10px;
    }


}