body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    color: #d2cccc;
    width: 100vw;
    overflow-x: hidden;
}

.main-div{
    width: 100vw;
   
}

.cart-div{
    width: 100vw;
    height: 250px;
    /* box-shadow: 2px 2px #d2cccc;
    border: 2px 2px; */
    margin-top: -50px;
}

.cCard{
    width: 60vw;
    height: 200px;
    box-shadow: 4px 1px #4c4c4cc3;
    border: 2px 2px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.cpImg{
    width: 150px;
    height: 150px;
}

.prodInfo{

    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    width: 50vw;
}

.cpPrice {
    margin-top: 20px;
}

.cartSize {
    margin-top: 20px;

}
.qty {
    height: 13px;
    background-color: transparent;
    color:#d2cccc;
    margin-top: 30px;
}

.removeBtn{
    color: #d2cccc;
    background-color: transparent;
    border: 1px;
    height: 50px;
    border: 2px 2px 2px;
    margin-top: 30px;
    justify-content: flex-end;
    margin-right: 30px;
    /* align-self: self-start; */
    /* align-content: end; */
    
}

.removeBtn:hover{
    background-color: #d2cccc;
    color: #ea0c0c;
    border: 2px 2px;
    border-color: #6a6868;
}

.emo{
    visibility: hidden;
}

.orderBtn{
    padding: 10px 10px 15px;
    background-color: transparent;
    color: #d2cccc;
    border: 2px 2px;
    border-color: #6a6868;
    border-radius: 8px;
}

.orderBtn:hover{
    background-color: #d2cccc;
    color: #242424c3;
    border: 2px 2px;
}

#sizePop{
    position: fixed;
    margin-left: 300px;
    margin-top: 250px;
    width: 400px;
    height: 160px;
    border-radius: 0.5rem;
    background: #787272c3;
    color: #d2cccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    
}

/* dialog::-ms-backdrop{
    background-color: #783030;
    overflow: hidden;
    opacity: 30;
    z-index: 9999;
    display: none;
    #1e1d1dc3
    
} */
#sizePop::backdrop{
    background-color: rgba(56, 49, 49, 0.5);
}

.sizeLists{
    list-style: none;
    margin-left: 10px;
    font-size: 17px;
}

.sizeBtns{
    flex-direction: column;
    width: 10px;
    padding: 5px 5px;
    height: 5px;
}

@media (max-width: 1500px) {

.cCard{
    gap: 70px;
}

}

@media (max-width: 1400px) {

    .cCard {
        font-size: 16px;
        gap: 50px;
    }
}

@media (max-width: 1300px) {

    .cCard {
        font-size: 14px;
        gap: 20px;
    }

}

@media (max-width: 1200px) {

    .cCard {
        font-size: 10px;
    }

}

@media (max-width: 1150px) {

   .prodInfo {
      display: flex;
      flex-direction: column;
      gap: 0px;
      margin-top: 20px;
    }

    .cartSize{
        margin-top: -10px;
        display: inline;
        /* flex: 1 1 200px; */
    }

    /* .qty, .cpPrice{
        margin-top: -3px;
    } */
}

@media (max-width: 950px) {

    .prodInfo {
        font-size: 15px;
    }

}

@media (max-width: 620px) {

    .cpName {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80px;
        white-space: nowrap;
    }

    .removeBtn {
        visibility: hidden;
    }

     .emo {
        visibility: visible;
        display: flex;
        color: tomato;
        font-size: 25px;
    }

}

@media (max-width: 590px) {

    .prodInfo {
        font-size: 13px;

    }

    .cartSize{
        margin-top: 5px;
    }

}

@media (max-width: 450px) {

    .cpImg{
        height: 100px;
        width: 100px;
        margin-top: 30px;

    }

    .prodInfo{
        margin-top: -20px;
    }
}

