body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

.main-div{
    width: 100vw;
    height: 200%;
}

.prodDiv{
    border: 2px 2px 2px;
    box-shadow: 2px #d2cccc;
    width: 30vw;
    height: 130vh;
    margin-left: 450px;
    margin-top: 60px;
}

.prodForm{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
}

.prodForm .ptName, .ptPrice, .ptBrand, .ptDisc, .ctgry{
    padding: 15px 30px 20px;
    background-color: transparent;
    border-color: #6a6868;
    color: #d2cccc;
    border-radius: 8px;
}

.ptPrice{
    margin-top: 3px;
}

.desc{
    padding: 30px 35px 30px;
    background: transparent;
    color: #d2cccc;
    border-radius: 8px;

}

.ptName:hover, .ptPrice:hover, .ptBrand:hover, .ptDisc:hover, .ctgry:hover, .desc:hover{
    background-color: #d2cccc;
    border-color: #242424c3;
    color: #242424c3;
}

.ptImage{
    padding: 15px 30px 20px;
    background-color: transparent;
    border-color: #6a6868;
    color: #d2cccc;
    border-radius: 8px;
}

 .size {
    width: 120px;
    padding: 15px 10px 12px;
    border-radius: 8px;
    background-color: transparent;
    color: #d2cccc;
}

.stock{
    width: 120px;
    padding: 15px 10px 12px;
    border-radius: 8px;
    background-color: transparent;
    color: #d2cccc;

}

.sBtn{
    margin-left: -40px;
}

.addBtn{
    padding: 10px 10px 15px;
    background-color: transparent;
    color: #d2cccc;
    border: 2px 2px;
    border-color: #6a6868;
    border-radius: 8px;
}

.addBtn:hover{
    background-color: #d2cccc;
    color: #242424c3;
    border: 2px 2px;
}

@media (max-width: 1050px) {

    .prodDiv{
        margin-left: 350px;
    }

    .adpTitle{
        font-size: 25px;
    }

}

@media (max-width: 950px) {

    .prodDiv {
        margin-left: 350px;
        font-size: 16px;
    }

    .size {
        padding: 11px 8px 10px;
        width: 70px;
    }

    .stock {
        padding: 11px 8px 10px;
        width: 50px;
    }
}

@media (max-width: 850px) {

    .sizeLabel{
        margin-left: -150px;
       
    }

    .stockLabel{
        display: block;
    }

}

@media (max-width: 750px) {

    .prodDiv {
        margin-left: 250px;

    }

    .adpTitle{
        font-size: 20px;
    }
}

@media (max-width: 650px){

    .adpTitle{
        font-size: 18px;
    }

    .prodDiv {
        margin-left: 200px;
    }

}

@media (max-width: 600px) {

    .adpTitle{
        font-size: 17px;
    }

    .prodDiv {
        font-size: 14px;
    }

    .ptName, .ptPrice, .ptBrand, .ptDisc, .ctgry{
        font-size: 12px;
        padding: 10px 35px 15px;
    }

    .desc{
        padding: 20px 25px 20px;

    }

    .sizeLabel {
        margin-left: -90px;
       
    }

    .sizeLabel .size{
        font-size: 14px;
    }


}

@media (max-width: 460px) {

    .adpTitle{
        width: 160px;
        
    }


}

@media (max-width: 400px) {

    .prodDiv {
        margin-left: 150px;
        font-size: 16px;
    }
}