.profileHeader{
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    margin-top: -180px;
    margin-right: 40px;
}

.logoutBtn{
    margin-right: 70px;

}

.adTitle{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 80px;
    margin-left: 50px;
    color: #ffffff;
}

.adNav{
    margin-top: 50px;
    /* width: 100vw; */
}

.addPd{
    width: 170px;

}

.showPd{
    margin-top: 80px;
    margin-left: 60px;
    width: 190px;
}

.cCpn{
    margin-top: 160px;
    margin-left: 60px;
    width: 170px;

}

.allCpns{
    margin-top: 40px;
    margin-left: 30px;
    width: 190px;
}

.allOdrs{
    margin-left: 80px;
    margin-right: 40px;
    width: 190px;
}

.adminProf{
    /* margin-top: -540px; */
    margin-top: -80px;
    margin-right: 40px;

}

@media(max-width: 1350px) {


    .showPd, .cCpn{
        margin-left: 40px;
    }

    /* {
        margin-left: 40px;
    } */

    .allCpns{
        margin-left: 10px;
    }

    .allOdrs{
        margin-left: 20px;
    }

}

@media(max-width: 1250px) {

    .showPd, .cCpn{
        margin-left: -20px;
    }

    /* {
        margin-left: 40px;
    } */

    .allCpns{
        margin-left: -15px;
    }

    .allOdrs{
        margin-left: -120px;
    }

}

@media (max-width: 850px) {

    .showPd{
        margin-left: -80px;
    }
}

@media (max-width: 750px) {

    .showPd{
        margin-left: -120px;
    }

    .allOdrs{
        margin-left: -150px;
    }

    .adNav{
        font-size: 16px;
    }

}

@media (max-width: 700px) {

    .adNav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .allOdrs{
        margin-left: -350px;
    }

    .allCpns{
        margin-left: -100px;
    }


    .adTitle{
        font-size: 20px;
    }
}

@media(max-width: 600px) {

    .showPd{
        margin-left: -200px;
    }

    .allOdrs{
        margin-left: -300px;
    }

    .cCpn{
        margin-left: -40px;
    }

    .logoutBtn{
        font-size: 17px;
    }
}

@media (max-width: 450px) {

    .adNav ul{
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        margin-top: 0px;
    }

    .adNav ul button{
        margin-left: 0px;
        width: 170px;
        align-self: center;
        justify-self: center;
    }

    .adNav .allCpns .allCpns{
        margin-left: 220px;
        margin-top: -20px;
    }

    .adNav .showPd{
        margin-top: 10px;
    }

     .adNav .cCpn{
        margin-left: 120px;
        margin-top: 10px;
     }

    .adNav .allOdrs .addPd{
        margin-left: 420px;
        margin-top: 10px;
    }
}

@media (max-width: 420px) {

    .adNav .allCpns .allCpns{
        margin-left: 205px;
    }

    .adNav .cCpn{
        margin-left: 105px;
        
     }

     .adNav .allOdrs .addPd{
        margin-left: 405px;
        
    }

}

@media (max-width: 405px) {

    .adNav .allCpns .allCpns{
        margin-left: 195px;
    }

    .adNav .cCpn{
        margin-left: 95px;
        
     }

     .adNav .allOdrs .addPd{
        margin-left: 395px;
        
    }

}

@media (max-height: 720px) {

    .profileHeader{
        margin-top: -120px;
    }

}

@media (max-width: 380px) {

    .adNav .allCpns .allCpns{
        margin-left: 185px;
    }

    .adNav .cCpn{
        margin-left: 85px;
        
     }

     .adNav .allOdrs .addPd{
        margin-left: 385px;
        
    }

}

@media (max-width: 360px) {

    .adNav .allCpns .allCpns{
        margin-left: 175px;
    }

    .adNav .cCpn{
        margin-left: 75px;
        
     }

     .adNav .allOdrs .addPd{
        margin-left: 375px;
        
    }

}
