body{
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #d2cccc;
};

.adsform-div{
    margin-top: -190px;
    width: 900px;
    height: 100vh;
    box-shadow: 2px 2px #6a6868;
    padding: 40px 40px 40px 40px;
}

.hdng{
    text-align: center;
    color: #d2cccc;
    margin-top: -30px;
}

form .signup{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.email, .pswd, .pNo{
    padding: 15px 30px 20px ;
    background-color: transparent;
    border-color: #6a6868;
    color: #d2cccc;
    border-radius: 8px;
}

.subBtn{
    padding: 10px 10px 15px;
    background-color: transparent;
    border: 1px #6a6868;
}

