.search{
    padding-right: 90px;
    padding-left: 50px;
    padding-top: 35px;
    margin-top: 10px;
    color: #d2cccc;
    background-color: transparent;
    border-radius: 8px;
    margin-left: 120px;
    font-size: 18px;
}

.search:hover{
    background-color: #d2cccc;
    color: #242424c3;
    border: 0px;
    border-color:  #6a6868;
}

.nameDiv{
    padding: 15px 15px 15px 15px;
    width: 300px;
    position: relative;
}

@media (max-width: 1350px){

    .search { 
        margin-left: 20px;
    }

}




@media (max-width: 1050px){

    .search{
        padding-right: 70px;
        padding-left: 30px;
        padding-top: 25px;
        margin-left: 20px;

    }

}

@media (max-width: 950px) {
    .search{
        padding-right: 40px;
        padding-left: 25px;
        padding-top: 20px;
        margin-left: 0px;
    }



}



@media (max-width: 850px) {

    .search{
        padding-right: 30px;
        padding-left: 15px;
        padding-top: 20px;
        margin-left: -90px;
        display: inline-block;
        font-size: 16px;
    }
}

@media (max-width: 750px) {

    .search{
        margin-top: 70px;
    }
}

@media (max-width: 450px) {

    .search{
        margin-left: -150px;
    }


}

@media (max-width: 320px) {

   .search{ 
       padding-right: 10px;
       padding-left: 10px;
       margin-left: -240px;
       font-size: 13px;
       margin-top: 60px;
   }


}